*,
*::before,
*::after {
  content: "";
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  padding: 30px;
}
